@import '../../styles/variables';

.projects {
  margin: 0 6vw;

  h2 {
    font-size: 1.5em;
    margin: 0;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    margin: 2em 0 0;
    gap: 2em;

    .card {
      border-radius: 3px;
      box-shadow: $shadow;

      img {
        width: 100%;
        max-height: 300px;
        border-radius: 3px;
        object-fit: cover;
      }

      .content {
        padding: 0.25em 1em 0.5em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }

      .firstRow {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .links {
          display: flex;
          gap: 0.5em;
        }
      }
    }
  }
}

.dark {
  .projects {
    .card {
      border: 1px solid $border-color;
      background: $background-secondary;
      box-shadow: $shadow;

      img {
        border-bottom: 1px solid $border-color;
      }
    }
  }
}

.light {
  .projects {
    .card {
      background: $background-secondary-light;
      box-shadow: $shadow;

      img {
        border-bottom: 1px solid $border-color-light;
      }

      p {
        color: $text-secondary-light;
      }
    }
  }
}
