$main-background-color: rgb(25, 25, 25);
$card-background-color: rgb(47, 47, 47);
$secondary-background-color: rgb(37, 37, 37);
$section-background-color: rgb(28, 28, 28);
$card-hover-background-color: rgb(55, 55, 55);
$main-font-color: rgba(255, 255, 255, 0.81);
$secondary-font-color: rgb(127, 127, 127);
$empty-font-color: rgba(255, 255, 255, 0.282);
$border-color: rgba(255, 255, 255, 0.13);

$shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;