@import '../../styles/variables';

.contactSection {
  padding: 3vh 6vw;
  display: flex;
  flex-direction: column;
  gap: 1em;

  h2 {
    font-size: 1.5em;
    margin: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 3px;

    .secondRow {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5em;

      .address,
      .phone,
      .email {
        margin-right: 0.5em;
        display: flex;
        gap: 0.5em;
      }
    }
  }
}

.dark {
  .contactSection {
    border-top: 1px solid $border-color;
    background: $background-secondary;
  }
}

.light {
  .contactSection {
    border-top: 1px solid $border-color-light;
    background: $background-secondary-light;
  }
}
