@import '../../styles/variables.scss';

.header {
  margin: 0 min(1em, 2vw);
  display: flex;
  flex-direction: column;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 2em;
    }
  }

  .icons {
    display: flex;
    gap: 0.25em;
    margin-top: 0.25em;
  }

  .about {
    display: flex;
    max-width: 1000px;
    margin: 8vw 4vw 0;
    border-radius: 3px;
    align-self: center;

    h3 {
      // display: none;
      margin: 0;
    }

    span {
      display: none;
    }
    // span::after {
    //   content: 'WEB DEVELOPER & CREATOR';
    //   font-size: 1.2em;
    //   font-weight: bold;
    // }

    // span:hover::after {
    //   animation: spin .5s linear 1;
    // }

    .textContainer {
      padding: 1em;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    img {
      width: 200px;
      height: 100%;
      border-radius: 0 3px 3px 0;
      object-fit: cover;
    }
  }
}

.dark {
  .about {
    background: $background-secondary;
    box-shadow: $shadow;
  }
}

.light {
  .about {
    background: $background-secondary-light;
    box-shadow: $shadow;
  }
}

@media screen and (max-width: 720px) {
  .header {
    .about {
      img {
        display: none;
      }
    }
  }
}
