@import '../../styles/variables.scss';

.header {
  margin: 0 min(1em, 2vw);
  display: flex;
  flex-direction: column;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 2em;
    }
  }

  .about {
    display: flex;
    max-width: 1000px;
    margin: 8vw 4vw 0;
    border-radius: 3px;
    align-self: center;

    h3 {
      margin: 0;
    }

    .textContainer {
      padding: 1em;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    .icons {
      display: flex;
      gap: 0.5em;
      margin-top: 0.25em;
    }

    .icon {
      width: 24px;
    }

    img {
      width: 200px;
      height: 100%;
      border-radius: 0 3px 3px 0;
      object-fit: cover;
    }
  }
}

.dark {
  .header {
    .icon {
      filter: $icon-filter;
    }

    .about {
      background: $background-secondary;
      box-shadow: $shadow;
    }
  }
}

.light {
  .header {
    .about {
      background: $background-secondary-light;
      box-shadow: $shadow;

      .icon {
        filter: $icon-filter-light;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .header {
    .about {
      img {
        display: none;
      }
    }
  }
}
